@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

html, body {
  margin:0;
}

/*header*/

.home-page-header {
  height:100px;
  background-color:lightgray;
}
.logo {
  font-family: 'Josefin Sans', sans-serif;
  max-width:350px;
  padding-top:10px;

}
.logo h1 {
  font-size:50px;
  text-transform:uppercase;
  padding:10px 0px 10px 20px;

}

.link-button {
  height:20px;
  display:inline-block;
  float:right;
  padding:0px 10px 0px 10px;
  margin:45px 0px 20px 0px;
  vertical-align: middle;
  font-family: 'Josefin Sans', sans-serif;
}


.link-button a {
  border-radius: 20px;
  text-decoration: none;
  font-size:18px;
  text-transform: uppercase;
  color: lightgray;
  background-color: #B53739;
  padding:10px;

  cursor: pointer;
  transition-property: background;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.link-button:hover a {
  background: #ffa800;
  color:black;
}



/*section*/

.home-page-top-explore {
  max-width:5000px;
  height:600px;
  background-color: #B53739;
}

.computer-in-love img {
  height:200px;
  width:400px;
  margin-top:200px;
  margin-left:250px;
  position:absolute;
}

.phone img {
  height:200px;
  width:200px;
  float:right;
  margin-right:350px;
  margin-top:200px;
}

.description-teaser {
  text-transform:uppercase;
  text-align: center;
  color:lightgray;
  font-family: 'Josefin Sans', sans-serif;
  position:absolute;
  float:right;
  padding-top:75px;
  padding-left:325px;
}

.description-teaser h2 {
  font-size:22px;
  padding:10px;
}

.description-teaser h3 {
  font-size:14px;
  padding:10px;
}

.learn-more-button {
  padding-top: 450px;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.link-button2 a {
  width:50px;
  text-decoration:none;
  text-transform: uppercase;
  border-radius: 20px;
  padding:15px;
  background-color: #FBAD3A;

  cursor: pointer;
  transition-property: background;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.link-button2:hover a {
  background: #93D8D6;
  font-weight:bold;
}
