<h2>Consumer 2 Business Matchmaking<h2>
  <h3>How it works</h3>
    <h4>1. Find a sexy business</h4>
      <p>Find businesses nearby looking to show you a good time. Click the "Search Now" button to look up your fav places.</p>
    <h4>2. Text to show your interest</h4>
      <p>Text HEARTDEALS to 435.580.4265. Click the JOIN button if you're using a phone.</p>
    <h4>3. Dump if they get creepy</h4>
      <p>Simply text UNSUB HEARTDEALS to block any future messages if a business is being way too clingy.</p>
