

html, body {
  margin:0;
}

/*header*/

.home-page-header {
  height:60px;
  display: flex;
  justify-content: space-between;
  padding-top:20px;
  background-color: lightgray;
  font-family: 'Josefin Sans', sans-serif;
}

.name {
  margin-left:20px;
  font-size:30px;
}

.buttons-header {
  display:flex;
  justify-content: space-between;
  padding-right:20px;
  padding-top: 10px;
}

.button-sign-up {
  margin-bottom:10px;
}

.link-button {
  padding-left:20px;
  font-size:18px;
}

.link-button a {
  text-decoration: none;
}

.home-page-header-nav {
  height:60px;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  padding-right: 20px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: lightgray;
  border-top: 2px solid darkgray;
}

.home-header-nav-list {

}

/*section-top*/

.home-page-top-teaser {
  height:300px;
  display:flex;
  flex-direction:column;
  background-color: #F85B50;
}

.description-teaser {
  font-size:20px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin:auto;
}

.description-teaser h2 {
  font-size:40px;
  padding-bottom: 30px;
}

.learn-more-button {
  font-family: 'Josefin Sans', sans-serif;
  margin:auto;
  background-color: orange;
  border-radius: 20px;
  padding:20px 30px 20px 30px;
}

.link-button2 a {
  font-size: 18px;
  text-decoration: none;
}

/*section-mid*/

.home-page-mid-teaser {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom:20px;
}


.home-page-mid-text {
  width:max-content;
  font-family: 'Josefin Sans', sans-serif;
  text-align:left;
  padding:15px;

}

.home-page-mid-text h2 {
  font-size:30px;
  margin-bottom:15px;
}


.home-page-mid-text p {
  margin-top: 15px;
  font-size:18px;
  margin-bottom:15px;
}

.home-page-mid-text li {
  font-size:16px;
  padding:10px;
}

.home-page-mid-img {
  display:flex;
  justify-content: space-around;
}

.tech-in-love1 {
  padding-top:20px;
  padding-right:50px;
  float: left;
}

.tech-in-love2 {
  padding-top:30px;
}

/*Section-mid: Steps*/

.home-page-mid-easy {
  height:100px;
  display:flex;
  justify-content:space-between;
  font-size:30px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  background-color: #FFB13D;
  margin-bottom: 20px;
}

.home-page-mid-easy h2 {
  padding-top:30px;
}

.box-space {
  background-color: #93D8D6;
  width:30%;
}

.home-page-mid-how-to {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.home-page-mid-steps {
  display:flex;
  flex-wrap: wrap;
  flex-direction:column;
  justify-content: space-around;
  margin:30px;
}

.home-page-mid-steps h3 {
  margin-bottom: 20px;
  font-size: 24px;
}

.home-page-mid-steps img {
  margin:auto;
  margin-bottom: 20px;
  width:inherit;
}

.home-page-mid-steps p {
  width:500px;
  margin-bottom: 20px;
  font-size: 16px;
  font
}

@media only screen and (max-width:800px) {
}
